/* add your CSS here */
body {
  padding: 20px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-self: center;
}

#container{
  border : 1px solid #EBEBEB;
  padding: 20px;
  box-shadow: -8px 8px 2px -2px #EBEBEB;

}

img {
  width: 300px;
  padding-bottom: .8em;
}

p{
  text-align: justify;
}

.animal-info {
  border : .5px solid grey;
  padding: 10px;
}

li {
  list-style: none;
}

span { font-weight:bold; }

#interesting-fact {
  font-style: italic;
}

#facts{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

span {
  font-weight: bold;
}

